<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% docs.forEach(function(customer){ %>
        <li>
            <a href="/edit/<%= customer._id %>">
              <h1><%= customer.Titulo %></h1>
              <h2><%= customer.Corpo %></h2>
            </a>
        </li>
      <% }) %>
    </ul>
    <hr/>
    <a href="/new">Inserir novo Post</a>
  </body>
</html>