<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="<%= action %>" method="POST">
      <p>Titulo:<input type="text" name="Titulo" value="<%= doc.Titulo %>" /></p>
      <p>Corpo:<input type="text" name="Corpo" value="<%= doc.Corpo %>" /></p>
      <input type="submit" value="Salvar" />
    </form>
  </body>
</html>